// COLORS
$black: #1e1e1e;
$white: #fff;
$green: #ccf4d2;
$yellow: #f7fbdd;
$pink: #ffe7fe;
$gray: #eee;

// Text
$text-dark: $black;
$text-light: $white;

// Body
$body-background-dark: $black;
$body-background-light: $white;

// STAT COLORS
$mild: $green;
$moderate: $yellow;
$extreme: $pink;
